{% extends 'articles/base.html' %}

{% block content %}

    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="float-right">
                    </div>
                    <h4 class="page-title"><a href="{% url 'index' %}"><i class="mdi mdi-arrow-left"></i>Go Back</a></h4>
                </div>
            </div>
        </div>
        <!-- end page title end breadcrumb -->

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ art.title }}</h5>
                        <p class="card-text">{{ art.area }}</p>
                        <p class="card-text">{{ art.author }}</p>
                        <p class="card-text">{{ art.abstract }}</p>
                    </div>
                </div>
            </div>
            <!-- end col -->
        </div> <!-- end row -->
    </div><!-- container -->

{% endblock %}